*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul, li, ol {
  list-style-type: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  max-width: 1920px;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: white;
}

body::-webkit-scrollbar-thumb {
  background-color: #4985FF;
}

.main-bg {
  background: url("../img/bg-header.jpg") center no-repeat;
  background-size: cover;
  color: white;
}

.header {
  padding: 20px;
  padding-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 200px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.14);
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 345px;
  text-align: center;
}

.menu-list__link {
  margin-right: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.menu-list__link:hover {
  border-bottom: 2px solid white;
  padding-bottom: 20px;
}

.menu-list__link a {
  color: white;
}

.burger {
  width: 40px;
  height: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 18px 8px;
  display: none;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}

span.burger-line {
  display: block;
  width: 20px;
  cursor: pointer;
  position: relative;
  height: 1px;
  background: white;
}

span.burger-line::before {
  content: '';
  position: absolute;
  display: block;
  top: 5px;
  width: 20px;
  height: 1px;
  background: white;
}

span.burger-line::after {
  content: '';
  position: absolute;
  display: block;
  top: -5px;
  width: 20px;
  height: 1px;
  background: white;
}

.heading {
  text-align: center;
  padding: 20px;
  padding-bottom: 330px;
}

.heading__subtitle {
  padding: 20px 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.heading__title {
  padding-bottom: 50px;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
}

button {
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 15px 30px;
  background: #4985FF;
  -webkit-box-shadow: 0 -3px rgba(111, 111, 111, 0.25) inset;
          box-shadow: 0 -3px rgba(111, 111, 111, 0.25) inset;
  border-radius: 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

button:hover {
  background: #35a76e;
}

button:active {
  background: #21935a;
  -webkit-box-shadow: 0 3px #21935a inset;
          box-shadow: 0 3px #21935a inset;
}

.create {
  margin: 110px 0px;
  text-align: center;
  padding: 20px;
}

.create__title {
  text-align: center;
}

.create__subtitle {
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  padding: 50px 0px;
}

.create .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
}

.site {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site .img {
  max-width: 100%;
  padding: 15px;
  margin-right: 20px;
  border: 1px solid #4985FF;
  border-radius: 50%;
}

.site__text {
  text-align: left;
}

.site__text h3 {
  padding: 10px 0px;
}

.site__text p {
  font-size: 14px;
  line-height: 22px;
  color: #999999;
}

h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.hight {
  background-color: #F6F6F8;
  padding: 100px 20px;
}

.hight__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img {
  max-width: 100%;
}

.hight-text {
  max-width: 480px;
  padding-right: 70px;
  padding-bottom: 30px;
}

.hight-text p {
  padding: 30px 0px;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

.hight-text a {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #4985FF;
}

.our {
  background-color: #F6F6F8;
  border-top: 1px solid #E0E0E0;
  padding: 70px 20px;
}

.our__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-column {
  padding-left: 40px;
  padding-right: 40px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-column__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-column__text p {
  font-size: 36px;
  line-height: 53px;
  padding-left: 20px;
}

.our-column__title {
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

.works {
  position: relative;
  padding-top: 100px;
  padding: 20px;
}

.works::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: -webkit-gradient(linear, left top, right top, color-stop(20.44%, #504DC2), color-stop(80.91%, #5F12D0)), #C4C4C4;
  background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
  z-index: -1;
}

.works-title {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works-title h2 {
  color: white;
  padding: 20px;
}

.works-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works-columns__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 30px;
}

.works-columns__column img {
  border-radius: 15px;
}

.works-columns__column .num {
  color: #4985FF;
}

.works-columns__column h3 {
  padding-top: 20px;
}

.works-columns__column p {
  padding: 30px 0px;
  max-width: 350px;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

.works-columns__column a {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.projects {
  background: #F6F6F8;
  padding: 120px 20px;
  text-align: center;
}

.projects__text {
  padding: 20px;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

.projects__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0px;
}

.projects__image img {
  padding: 20px;
}

.video {
  margin: 100px 0px;
  padding: 0px 20px;
  position: relative;
}

.video:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 70%;
  width: 100%;
  background: url("../img/bg-video.jpg");
  background-size: cover;
  z-index: -1;
}

.video__title {
  text-align: center;
  padding: 90px 20px;
  color: white;
}

.video__title p {
  padding: 30px 0px;
  font-size: 16px;
  line-height: 25px;
}

.video__player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video__player a {
  position: absolute;
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid white;
  border-radius: 50px;
  padding: 15px;
  color: white;
  font-weight: 500;
  font-size: 16px;
}

.video__player a img {
  padding-right: 10px;
}

.subscribe {
  margin: 60px 20px;
  text-align: center;
}

.subscribe p {
  padding: 20px 0px;
  color: #999999;
  font-size: 16px;
  line-height: 25px;
}

form {
  margin: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form input {
  padding: 12px 30px;
  font-size: 13px;
  color: #999999;
  border: 1px solid #F2F2F2;
  -webkit-box-shadow: 0px 0px 10px #6f6f6f40;
          box-shadow: 0px 0px 10px #6f6f6f40;
  border-top-left-radius: 30px;
  line-height: 21px;
}

form input:focus {
  outline: none;
}

form button {
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 0px 30px 30px 0px;
}

footer {
  background: #F6F6F8;
  padding-top: 70px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-blocks__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-blocks__block h3 {
  padding: 20px 0px;
}

.footer-blocks__block a {
  padding: 10px 0px;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
}

i {
  padding-right: 10px;
}

.footer-text {
  text-align: center;
  font-size: 13px;
  line-height: 21px;
  color: #999999;
  padding: 20px;
}
/*# sourceMappingURL=style.css.map */